{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block page_title %}Contact Us{% endblock %}


{% block content %}
<section class="header">
    <div class="row wrap">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto admin inner">
            <h1 class="section-title">Horizon</h1>
            <h3 class="section-subtitle">Contact Page</h3>
            <p>Please contact us with any feedback, comments or queries using the form below.  We are always looking for feedback on things people would like to see of things we can do better
            so feedback, no matter if negative is always welcome.</p>

        </div>
    </div>
</section>

<section class="body">
    <div class="row wrap">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto inner">
            <form method="POST" class="mx-auto">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button type="submit" class="btn btn-search">Send</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}