{% extends 'base.html' %}

{% block content %}

<!-- Index Page -->
<section id="index">    
<div class="row d-flex flex-wrap bg">
    <div id="header">
        <div class="row">
            <div class="col-sm-12 title">
                <h1>Horizon</h1>
                <h3>Artisan Landscape Art & Photography</h3>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="row">


        </div>
    </div>

    <div class="footer">
        <div class="row">
        </div>
    </div>
</div>
</section>
<!-- End of Index Page -->

<!-- Contact Page -->
<section id="contact">

    <div class="header">
        <div class="row">
            <div class="w-80 mx-auto">
                <h1 class="section-title">Horizon</h1>
                <h3 class="section-subtitle">Contact Us</h3>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="row">
             <div class="w-80 mx-auto">
             </div>
        </div>
    </div>

    <div class="footer">
        <div class="row">
        </div>
    </div>

</section>
<!-- End of Contact Page -->

<!-- About Page -->
<section id="about">

    <div class="header">
        <div class="row">
            <div class="w-80 mx-auto">
                <h1 class="section-title">Horizon</h1>
                <h3 class="section-subtitle">About Us</h3>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="row">
             <div class="w-80 mx-auto text-area">
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis consectetur recusandae incidunt veritatis quas ad quos, earum est at nam ut harum, enim deserunt assumenda veniam nemo iure. Sapiente.</p>
             </div>
        </div>
    </div>

    <div class="footer">
        <div class="row">
        </div>
    </div>

</section>
<!-- End of About Page -->





{% endblock %}