{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}

<!-- Index Page -->
<section id="index">
<div class="container-fluid">
    <div class="row d-flex flex-wrap bg">
        <div id="header">
            <div class="row">
                <div class="col-sm-12 title">
                    <h1>Horizon</h1>
                    <h3>Artisan Landscape Art & Photography</h3>
                </div>
            </div>
        </div>

        <div class="body">
            <div class="row">


            </div>
        </div>

        <div class="footer">
            <div class="row">
            </div>
        </div>
    </div>
</div>
</section>
<!-- End of Index Page -->

<!-- Contact Page -->
<section id="contact">

    <div class="header">
        <div class="row">
            <div class="w-80 mx-auto">
                <h1 class="section-title">Horizon</h1>
                <h3 class="section-subtitle">Contact Us</h3>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="row">
             <div class="w-80 mx-auto">
             </div>

        </div>
    </div>

    <div class="footer">
        <div class="row">
        </div>
    </div>

</section>
<!-- End of Contact Page -->

<!-- About Page -->
<section id="about">

    <div class="header">
        <div class="row">
            <div class="w-80 mx-auto">
                <h1 class="section-title">Horizon</h1>
                <h3 class="section-subtitle">About Us</h3>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="row">
             <div class="w-80 mx-auto text-area">
             <p>Horizon is a service that focuses on creating bespoke landscape art and photography works from the Scottish Highlands.  We produce our own work and offer a commission service (for art only)
             for those looking for something personal.</p>
             <p>Established in 2020, and based near Inverness, the Highland landscape has been our single biggest influence to showcase our work through a range of different media.</p>
             <p>Please feel free to contact us with any queries, feedback or just general comments.</p>
             <p>Thank you</p>
             <p>Steven A. Horne</p>
             <p>Site Administrator</p>
             </div>
        </div>
    </div>

    <div class="footer">
        <div class="row">
        </div>
    </div>

</section>
<!-- End of About Page -->





{% endblock %}