{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Custom Artwork - Info{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="header">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto admin inner">
                <h1 class="section-title">Horizon</h1>
                <h3 class="section-subtitle">Request A Custom Artwork</h3>
                    <div class="col-sm-12 panel">
                        <p class="request">Welcome to out Custom Artwork section, here you can submit a request for a bespoke artwork by simply filling in a form with your requirements. Simply click Next below and fill out the form and we will contact you about your request.<br><br>If you have any queries regarding the service please use our Contact Form by using the link at the top of the page.</p>
                    </div>
                <a class="btn btn-checkout" href="{% url 'custom_form' %}">Next</a>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}