/* Style to overcome fixed navbar */
body {
    padding-top: 60px;
}
#index, #contact, #about {
    min-height: 100vh;
}
.header {
    margin-top: 20px;
}
.header2 {
    margin-top: 100px;
}


.card {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}



form {
    width: 50%;
}
