body {
    padding-top: 60px; /* Style to overcome fixed navbar */
    margin: 0;
    background-color: #f0f3bd;
    
}
.nav-bg {
    background-color: #028090;
}
.btn-search {
    background-color: #00a896;
    border-color: #f0f3bd;
    color: #f0f3bd;
}
.nav-right {
    margin-left: 0px !important;
    width: 600px;
}
#index, #contact, #about {
    min-height: 100vh;
}
.header {
    margin-top: 20px;
}
.header2 {
    margin-top: 100px;
}
.img-thumbnail {
    max-height: 200px;
}
/* Cart App Styles */
.card {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}



form {
    width: 50%;
}
