@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Poppins&display=swap');

/* Global styles */
html, body {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    background-color: #028090;
}
.template {
    padding: 50px 0px 50px 0px;
}
.row {
    margin: 0px;
}
.centre {
    margin: 0 auto;
}
.wrap {
    width: 90%;
    margin: 0 auto;
}
.header {
    padding-top: 100px;
}
.main {
    margin: 0 auto;
    margin-top: 50px;
}
/* Navbar styles */
nav {
    margin-bottom: 70px;
}
.nav-bg {
    /*background-color: #0095d9;*/
    background: rgb(5,102,141);
    background: linear-gradient(180deg, rgba(5,102,141,1) 0%, rgba(0,149,217,1) 65%);
    -webkit-box-shadow: 0px 10px 5px -4px rgba(5,102,141,1);
    -moz-box-shadow: 0px 10px 5px -4px rgba(5,102,141,1);
    box-shadow: 0px 10px 5px -4px rgba(5,102,141,1);
}

.btn-search {
    background-color: #05668d;
    border-color: #f0f3bd;
    color: #f0f3bd;
}
.nav-right {
    margin-left: 0px !important;
    width: 600px;
}
.home {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5em;
}
/* Home Page styles */
#index, #about {
    min-height: 100vh;
    min-width: 99vw;
    overflow: hidden;
}
#header {
    margin: 150px 0px 0px 0px;
    width: 100%;
}

.bg {
    background: url(../../media/img/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0px;
    padding: 0;
}

.title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.title h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 10em;
}
.title h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}

/* gallery styles */
.outer {
    background: #f0f3bd;
    padding: 20px;
    margin: 20px auto;
    margin-top: 100px;
    width: 95%;
}
.section-title {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 4em;
    text-align: center;
}
.section-subtitle {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2em;
    text-align: center;
}
.section-text {
    width: 95%;
    margin: o auto;

}
.inner-top {
        width: 95%;
    padding: 20px;
    margin: 0 auto;

}
.inner {
    background: #00a896;
    width: 95%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.item {
    border: 1px solid #f0f3bd;
    margin: 5px;
    padding: 10px;
    background: #02c39a;
}


/* Cart App Styles */
.card {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}


/* Image thumbnails */
.image-wrapper {
  display: inline-block;
  position: relative;
  margin: 10px 10px 10px 10px;
  -webkit-box-shadow: 3px 3px 10px 4px rgba(0,100,83,1);
-moz-box-shadow: 3px 3px 10px 4px rgba(0,100,83,1);
box-shadow: 3px 3px 10px 4px rgba(0,100,83,1);
}

.image-wrapper img {
  display: block;
}

.image-overlay {
  background: #333;
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
  width: 100%;
  z-index: 2; /* puts this div 'in front' of the image */
}

.image-wrapper p {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 3; /* puts the text in front of the dark overlay */
  width: 100%;
  text-align: center;
}
.price {
    color: #ff0;
}
.thumb {
    max-width: 100%;
    height: auto;
}
.thumbX {
    max-height: 300px;
}
/* Modal styles */
.modal-header, .modal-footer {
    background: #02c39a;
}
.modal-body {
    background: #f0f3bd;
    border-top: 2px solid #028090;
    border-bottom: 2px solid #028090;
}

.user {
    margin: auto;
}
.admin {
    text-align: center;
}
.panel {
    width: 80%;
    margin: 20px auto;
    background: #02c39a;
}
.total {
    text-align: right;
    padding: 10px;
    border-top: 1px solid #05668d;
}
.order-item {
    padding: 10px;
}
.checkout {
    padding: 150px 0px 50px 0px;
}
#credit-card-errors {
    display: none;
    background: #fff;
    color: #f00;
}

.text-area {
    background: #f0f3bd;
    padding: 20px;
    width: 90%;
}

.notification{
    position: absolute;
    top: 5rem;
    right: 1rem;
}

.page-heading {
    margin-top: 100px;
}

.admin {
    width: 100%;
    background: #05668d;
    padding: 20px;
    margin: 10px;
}
.admin-left {
    text-align: left;
}
.admin-right {
    text-align: right;
}
.admin-links {
    text-align: center;
}