{% extends "base.html" %}
{% load bootstrap_tags %}
{% block page_title %}{{user.username}}'s Orders{% endblock %}
{% block content %}
<div class="container-fluid checkout">
<div>XX


    {% for order_line_item in order_line_items %}
        <p>{{ order_line_items }}</p>
        <p class="text-white">{{ order_line_item.order}}</p>
        <p class="text-white">{{ order_line_item.work}}</p>
        <p class="text-white">{{ order_line_item.quantity}}</p>
    {% endfor %}
    <br> <br> <br>
    <p>{{ orders }}</p>
    
 </div>

</div>


{% endblock %}