{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Registration Page{% endblock %} 

{% block content %}
<section class="header">
    <div class="row wrap">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto admin inner">

            <h1 class="section-title">Horizon</h1>
            <h3 class="section-subtitle">Account Registration Page</h3>
            <p>If you already have an account, you can <a href="{% url 'login' %}">sign in </a></p>

        </div>
    </div>
</section>

<section class="body">
    <div class="row wrap">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto admin inner">
            <form class="user" method="POST">
                {% csrf_token %} {{ user_form | as_bootstrap }}
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}