{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="work" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                <h1>Hello</h1>
                <h3>{{ product.name }}</h3>
                <p class="work-description">{{ product.description }}</p>
                <p>{{ product.price }}</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque omnis quo quos dignissimos doloremque quisquam repellendus assumenda vel doloribus voluptatibus aperiam, id provident molestiae iure incidunt aspernatur soluta voluptatem unde!</p>

                <form method="post" action="{% url 'add_to_cart' work.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
<h1>Hello</h1>