{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h3>Gallery & Shop</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita odio veritatis, ad sequi ex nam ab impedit libero at, inventore iusto rem quasi recusandae autem corporis id aliquid! Ad, rerum!</p>
    </div>
</div>

<hr>

<div class="row text-center text-lg-left">
    {% for work in works %}
        
            <div class="col-lg-3 col-md-4 col-6">
                <div class="thumbnail">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-responsive img-thumbnail" src="{{ MEDIA_URL}}{{work.image}}" alt="{{ work.title }}">
                </a>
                </div>
                <div class="caption">
                <h3>{{ work.title }}</h3>
                <hr>
                <p>Reference: {{ work.name }}</p>
                <p>Media: {{ work.media }}</p>
                <p>Date: {{ work.date }}</p>
                <p class="work-description">{{ work.description }}</p>
                <hr>
                <p>Price: £{{ work.price }}</p>
                <form method="post" action="{% url 'add_to_cart' work.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
                </div>
            </div>
        
    {% endfor %}
</div>





{% endblock %}
