{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Gallery & Shop{% endblock %}

{% block content %}
<div class="container-fluid outer">

    
    <div class="row header inner-top">
        <div class="col-sm-12 w-80 mx-auto">
            <h1 class="section-title">Horizon</h1>
            <h3 class="section-subtitle">Gallery & Shop</h3>
        </div>

        <div class="col w-80 mx-auto section-text">
            <h5>Welcome to the Horizon Gallery and Shop</h5>
            <p>Here you will find all of our bespoke landscape art & photography works.  Please click on any image to view a larger image and information about the piece,  where you can also order prints of any of these by simply adding the required amount to the Cart.
            We also offer a Custom Artwork service if you want an original bespoke landscape artwork,   click the Custom Artwork link at the top of the page for more details.</p>
            <p>We are always adding to our inventory so please visit again, and if you have any comments, feedback or general queries please contact us using the Contact Us link above.</p>
        </div>
    </div>

    <div class="row inner">
        <div class="col-sm-12 w-80 mx-auto">
            {% for work in works %}
            <div class="image-wrapper">
                <a data-toggle="modal" data-target="#modal-work-{{work.pk}}">
                    <img class="thumb thumbX" src="{{ MEDIA_URL}}{{work.image}}" alt="{{ work.title }}">
                    <div class="image-overlay"></div>
                    <p>{{ work.title }} <span class="price"><i class="fas fa-pound-sign"></i>{{ work.price }}</span></p>
                </a>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="modal-work-{{work.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ work.title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="img-fluid" src="{{ MEDIA_URL}}{{work.image}}" alt="{{ work.title }}">
                            
                            <h3>{{ work.title }}</h3>
                            <p>Catalogue Number: {{ work.name }}</p>
                            <p>Media: {{ work.media }}</p>
                            <p>Date: {{ work.date }}</p>
                            <p class="work-description">{{ work.description }}</p>
                            <p>Price: <i class="fas fa-pound-sign"></i>{{ work.price }}</p>
                        </div>

                        <div class="modal-footer">
                            <form method="post" action="{% url 'add_to_cart' work.id %}">
                            {% csrf_token %}
                                <div class="input-group">
                                    <input id="qty" name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Qty">
                                    <span class="input-group-btn">
                                        <button class="btn btn-add" type="submit">Add</button>
                                        <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                                    </span>
                                </div>
                            </form>

                        </div>                           
                    </div>
                </div>
            </div>
            <!-- End of Modal -->       
            {% endfor %}

        </div>
    </div>


</div>





{% endblock %}
